.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  height: 100%;
  max-width: 600px;
}

.intro {
  margin: 40px 0px;
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 400;
  line-height: 31.2px;
  text-align: center;
}

.intro .span {
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 700;
  line-height: 31.2px;
  text-align: center;
}

.bnt {
  margin-left: auto;
  padding: 5px 37px;
  width: 138px;
  height: 39px;
  border-radius: 16px;
  background-color: #aca0eb;
  color: white;
  white-space: nowrap;
}

.post {
  width: 592px;
  height: 169px;
  gap: 0px;
  border-radius: 16px;
  opacity: 0px;
  background-color: #ffffff;
  margin: 26px 5px 9px 3px;
}

.title-wrap {
  padding: 18px 24px;
}

.post-title {
  width: 59px;
  height: 31px;
  gap: 0px;
  opacity: 0px;

  font-family: Pretendard;
  font-size: 24px;
  font-weight: 700;
  line-height: 31.2px;
  text-align: left;
  white-space: nowrap;
}

.post-info {
  display: flex;
  flex-direction: row;
  align-content: space-between;

  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  text-align: left;

  margin-top: 16px;
}

.likes,
.cmts,
.views {
  width: 49px;
  height: 18px;
}

.post-date {
  width: 133px;
  height: 18px;
}

.post-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

hr {
  margin: 0;
  border: 1px solid #00000029;
  width: 592px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.writer-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  padding: 16px 24px;
}

.writer-wrap img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
