.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 600px;
}

.wrap .wrap-title {
  font-family: Pretendard;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.19px;
  text-align: center;
  white-space: nowrap;
  margin-top: 160px;
}

.pro-img-text {
  width: 77px;
  height: 18px;

  font-family: Pretendard;
  font-size: 15px;
  font-weight: 700;
  line-height: 17.9px;
  text-align: left;
  margin: 12px 300px 12px 0px;
}

.img-bnt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 149px;
  height: 149px;
  border-radius: 50%;
  padding: 0;
  margin: 0px 0px 30px;
  background-color: #c4c4c4;
}

.img-input {
  display: none;
}

.helper-text {
  width: 355px;
  height: 20px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  color: #ff0000;
  margin-top: 3px;
}

#img-helper {
  margin-right: auto;
}

.info-form .title {
  font-family: Pretendard;
  font-size: 15px;
  font-weight: 700;
  line-height: 17.9px;
  text-align: left;
}

.info-form input {
  width: 355px;
  height: 33px;
  gap: 0px;
  border-radius: 4px;
  border: 1px solid #000000;
}

.join-bnt {
  width: 355px;
  height: 33px;
  border-radius: 4px;
  background-color: #aca0eb;
  color: white;
  padding: 8px;
  margin-bottom: 12px;
}

.go-login {
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  text-align: left;
  text-decoration: none;
  color: #000000;
}

.hidden {
  visibility: hidden;
}
